body {
  padding: 20px;
  background-color: lightblue;
}
h1 {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
p {
  background-color: magenta;
  color: white;
  border-radius: 5px;
  width: 200px;
  height: 20px;
  padding: 5px;
}
